<!-- Modal content -->
 <div class="modal-content">
  <span class="close">&times;</span>
  <div class="formspree text-center">
    <p>Say hi!</p>
    <div class="formview">
      <form method="POST" action="https://formspree.io/gabriela.preiss@gmail.com">
        <input type="email" name="_replyto" placeholder="Your email">
        <textarea id="msg-area" name="message" placeholder="Your message"></textarea>
        <input type="hidden" name="_next" value="//gpreiss.github.io/preiss-portfolio/thanks.html"/>
        <button type="submit">Send</button>
      </form>
    </div>
  </div>
</div>






