.card {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 300px;
  color: white;
  text-align: center;
  float: left;
  margin-left: 13px;
  margin-right: 13px;
  .card-content{
    text-shadow: 1px 1px black;
    margin-top: 64%;
    margin-right: 42%;
    h3{
      margin-bottom: 2px;
      font-family: 'Roboto Slab', serif;
    }
    p{
      font-size: 20px;
      margin-bottom: 0px;
      font-weight: lighter;
      color: rgba(255, 255, 255, 0.8);
      font-family: 'Open Sans', serif;
    }
  }
}
.profile-card{
  height: 50vh;
  width: 361px;
  float: right;
  padding-top: 16% !important;
  h1{
    font-family: 'Roboto Slab', serif;
  }
  p{
    font-family: 'Open Sans', serif;
    .fa{
      color: red;
      opacity: 0.6;
    }
  }
}
.contact-links {
  display: flex;
  align-items: center;
  margin-left: 63px;
  a {
    color: black;
    opacity: 0.25;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
    &:hover{
      opacity: 1;
    }
  }
}
@media screen and (max-width: 400px) {
 .card {
  float: none;
  margin-right:0;
  border:0;
  width: 350px !important;
  height: 350px !important;
  .card-content{
    margin-bottom: 10px;
    margin-left: 10px;
  }
}
.profile-card{
  padding: 8px;
}
}



