.about-title{
  padding: 5px;
  margin-left: 10px;
  opacity: 0.9;
  h3{
    font-family: 'Open Sans', serif !important;
    font-weight: lighter;
  }
}
.about-card{
  opacity: 0.8;
}
.about-background{
  background-size: cover;
  width: 100%;
  margin: auto;
  .about-me{
    text-align: left;
    padding-top: 25px;
    padding-bottom: 25px;
    line-height: 1.9;
    p{
      color: #fd5c63;
      font-size: 19px !important;
      opacity: 1 !important;
      font-weight: bold;
      a{
        color: white;
        text-decoration: none;
        &:hover{
          opacity: 0.8;
        }
      }
    }
  }
}
.info-titles{
  font-size: 30px;
  font-weight: bold;
  opacity: 0.8;
  padding: 10px;
  font-family: 'Open Sans', serif !important;
}
.about-info{
  padding-top: 25px;
  text-align: center;
  padding-bottom: 25px;
  p{
    opacity: 0.6;
  }
  i{
    padding: 5px;
  }
}
.about-edu{
  background-size: cover;
  width: 100%;
  margin: auto;
  padding-top: 25px;
  margin-bottom: 25px;
  opacity: 0.8;
  .edu-info{
    padding: 20px;
    margin-bottom: 30px;
    text-align: center;
  }
  p{
    opacity: 0.8;
  }
  a{
    color: black;
    text-decoration: none;
    &:hover{
      opacity: 0.8;
    }
  }
}




// @media screen and (max-width: 400px) {
//   .about-background{
//     height: 165vh !important;
//     display: block !important;
//     width: 100%;
//     margin-right: 0;
//     .about-me{
//       float: none;
//       width: auto;
//       margin-right: 0;
//       border: 0;
//     }
//   }
//   .about-box{
//     width: 113%;
//     padding-right: 0 !important;
//     p{
//       opacity: 0.5;
//     }
//   }
//   .about-info{
//    float: none;
//    margin-right:0;
//    width:auto;
//    border:0;
//    margin-left: -18px;
//    padding-right: 13px;
//  }
//  .about-edu{
//   margin-top: 0 !important;
// }

// }
