.about{
  padding-top: 26px;
  padding-right: 10px;
}
.about-title{
  padding: 5px;
  margin-left: 29px;
  h3{
    font-family: 'Open Sans', serif !important;
    font-weight: lighter;
  }
}
.about-background{
  background-size: cover;
  height: 100vh;
  display: flex;
  text-align: center;
  .about-me{
    width: 47%;
    height: 100%;
    text-align: left;
    padding: 26px;
    padding-top: 60px;
    float: left;
    margin-left: 27px;
    p{
      color: white;
      font-size: 19px !important;
      a{
        color: white;
        text-decoration: none;
        &:hover{
          opacity: 0.8;
        }
      }
    }
  }
  .about-box{
    width: 45%;
    height: 100%;
    color: white;
    text-align: right;
    padding: 64px;
    float: right;
    font-size: 20px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding-right: 18px;
    padding-left: 26px;
    padding-top: 52px;
    p{
      opacity: 0.8;
    }
    .about-edu{
      float: left;
      text-align: left;
      a{
        color: white;
        text-decoration: none;
        &:hover{
          opacity: 0.8;
        }
      }
    }
    .about-info{
      float: right;
      text-align: left;
    }
  }
}



@media screen and (max-width: 400px) {
  .about{
    padding-top: 0px !important;
    padding-right: 0px !important;
  }
  .about-background{
    height: 146vh !important;
    display: block !important;
    .about-me{
      float: none;
      width: auto;
      margin-right: 0;
      border: 0;
    }
    .about-box{
      width: 100%;
      height: 52%;
      color: black;
      text-align: left;
      font-size: 20px;
      overflow: hidden;
      padding-left: 20px;
      margin-top: 44px;
      p{
        opacity: 0.5;
      }
      .about-edu{
        margin-right: 25px;
      }
    }
  }
}
