.work-container{
  p{
    opacity: 0.8;
  }
}
.medico-card{
  background-size: cover;
  height: 322px;
  width: 611px;
  margin-left: 335px;
  margin-top: 30px;
  margin-bottom: 50px;
}
.radar{
  a{
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px black;
    &:hover{
      opacity: 0.8;
    }
  }
  .radar-card{
    background-size: cover;
    height: 322px;
    width: 611px;
    margin-left: 335px;
    margin-top: 30px;
    margin-bottom: 50px;
    h5{
      font-size: 25px;
      padding-top: 255px;
    }
  }
}
.video-card{
  margin-top: 30px;
  margin-bottom: 50px;
}
.medium-icon{
  margin-bottom: 12px;
}
.medium-card{
  background-size: cover;
  height: 334px;
  width: 611px;
  margin-left: 335px;
  margin-top: 30px;
  margin-bottom: 75px;
}
@media screen and (max-width: 400px) {
  .medico-card{
    height: 192px;
    width: 375px;
    margin-left: 0;
  }
  .radar-card{
    height: 192px !important;
    width: 375px !important;
    margin-left: 0 !important;
    .radar-title{
      font-size: 20px !important;
      padding-top: 147px !important;
    }
  }
  .medium-card{
    height: 207px !important;
    width: 375px !important;
    margin-left: 0 !important;
  }
}
