---
title: Gabriela's Portfolio
---
<div class="container">
  <div class="row">
    <div class="col-xs-12 sm-6 md-6">
      <div class="banner" style="background-image: url('images/profile_pic.jpg');">
        <div class="banner-content">
          <h3>Gabriela Preiss</h3>
          <p>FULL-STACK DEVELOPER</p>
          <p>clean code, clean design</p>
      <div class="text-right">
        <h3>I am</h3>
        <p>an Argentinian/Mexican-American developer with a passion for good software, intelligent design, and efficient code!</p>
        <p>If I'm not coding, I'm traveling.</p>
        <p>Currently based in <i class="fa fa-map-pin"></i>Lisbon, Portugal.</p>
      </div>
        </div>
      </div>
    </div>
  </div>
</div>


