---
title: Gabriela's Portfolio
---
<div class="profile">
  <!-- <div class="row"> -->
    <!-- <div class="col-xs-12 col-sm-6 col-md-6"> -->

      <div class="card" style="background-image: url('images/profile_pic.jpg'); width: 736px; left: 380px;">
        <div class="card-content">
          <h3>Gabriela Preiss</h3>
          <p>FULL-STACK DEVELOPER</p>
          <p>clean code, clean design</p>
        </div>
      </div>

      <div class="profile-card">
        <h3 id="profile-title">I am</h3>
        <p class="profile-lines">an Argentinian/Mexican-American developer with a passion for good software, intelligent design, and efficient code!</p>
        <p class="profile-lines">If I'm not coding, I'm traveling.</p>
        <p class="profile-lines">Currently based in <i class="fa fa-map-pin"></i>Lisbon, Portugal.</p>
      </div>

      <!-- </div> -->
      <!-- </div> -->
</div>


