---
title: Gabriela's Portfolio
---
<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="card" style="background-image: url('images/profile_pic.jpg'); width: 736px; left: 380px;">
        <div class="card-content text-left">
          <h3>Gabriela Preiss</h3>
          <p>Full-stack developer</p>
        </div>
      </div>



      <div class="profile-card">
        <h1 id="profile-title">I am</h1>
        <p class="profile-lines">an Argentinian/Mexican-American developer with a passion for good software, clean code, and clean design!</p>
        <p class="profile-lines">If I'm not coding, I'm traveling.<br>Currently based in <i class="fa fa-map-marker"> </i> Lisbon, Portugal.</p>
      <div class="contact-links text-center">
        <a href="#"><i class="fa fa-github"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-medium"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-envelope-o"></i></a>
      </div>
      </div>
    </div>

  </div>
</div>
