---
title: Gabriela's Portfolio
---
<div class="home-container">
  <div class="home" style="width: 100%">
    <div class="card" style="background-image: url('images/profile_pic.jpg'); width: 736px; left: 380px;">
      <div class="card-content text-left">
        <h3>Gabriela Preiss</h3>
        <p>Full-stack developer</p>
      </div>
    </div>

    <div class="profile-card">
      <h1 id="profile-title">I am</h1>
      <p class="profile-lines">an Argentinian/Mexican-American developer with a passion for good software, clean code, and clean design!</p>
      <p class="profile-lines">If I'm not coding, I'm traveling.<br>Currently in <i class="fa fa-map-marker"> </i> San Antonio, Texas.</p>
      <div class="contact-links">
        <a target="_blank" href="https://github.com/GPreiss"><i class="fa fa-github"></i></a>
        <a target="_blank" href="https://www.linkedin.com/in/gpreiss/"><i class="fa fa-linkedin"></i></a>
        <a target="_blank" href="https://twitter.com/PreissGabi"><i class="fa fa-twitter"></i></a>

        <a href="#"><i class="fa fa-envelope-o" id="myBtn"></i></a>

        <div id="myModal" class="modal">
          <%= partial 'layouts/modal' %>
        </div>

      </div>
    </div>

  </div>
</div>
