<div class="work-container text-center">
  <div class="medico-container text-center">
    <h3>Medi-Co</h3>
    <p>Strengthening communication between doctors and patients</p>
    <a target="_blank" href="https://www.medi-co.pt/"><div class="medico-card" style="background-image: url('https://s3-eu-west-1.amazonaws.com/medi-co/Images/FB+Photo.png');"></div></a>
    <div class="medico-tools">

    </div>
  </div>

  <div class="radar-container text-center">
    <div class="radar">
      <h3>Radar</h3>
      <p>Making giving and donating a more personal experience</p>

      <a target="_blank" href="https://radar-lewagon.herokuapp.com/"><div class="radar-card" style="background-image: url('https://s3-eu-west-1.amazonaws.com/medi-co/rails-radar-og.jpg');">
        <h5 class="radar-title">Connecting people with NGOs</h5>
      </div></a>
    </div>
    <div class="radar-tools">

    </div>
  </div>

  <div class="extra-container text-center">
    <h3>Medi-Co Demo Presentation</h3>
    <p>Watch my team and I present our Rails app, Medi-Co @ TimeOut Studio in Lisbon</p>
    <iframe class="video-card" width="560" height="315" src="https://www.youtube.com/embed/LT9Ta7OpCr4?rel=0&amp;start=821" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
  </div>
  <div class="medium-container text-center">
    <h3>My <%= image_tag "medium_icon.png", class: "medium-icon", :width=>45; %> stories</h3>
    <p>In my love of writing, I've found a love of writing about code, and my musings<br>on discovering new challenges and ideas.</p>
    <a target="_blank" href="https://medium.com/@gabriela.preiss"><div class="medium-card" style="background-image: url('images/medium.png');"></div></a>
  </div>
</div>
